/.VertigoDslDescriptionLabelProvider.java._trace
/.VertigoDslLabelProvider.java._trace
/VertigoDslDescriptionLabelProvider.java
/VertigoDslLabelProvider.java
/.VertigoDslDescriptionLabelProvider.xtendbin
/.VertigoDslLabelProvider.xtendbin
